
<mat-toolbar>
    <span>
        {{accountTreeSvc.selectedDetailAccount === null ? 'New Total Account':'Total Account Details'}}
    </span>
    <span class="fill-remaining-space">
    </span>
    <button class="btn close float-right" (click)="onClose()" tabindex="-1">
        <span aria-hidden="true">&times;</span>
    </button>
</mat-toolbar>
<form [formGroup]="accountTreeSvc.detailAccountForm">
    <div class="form-row mt-2">
        <div class="col-md-4">
            <label for="">Total Account</label>
        </div>
        <div class="col-md-2">
            <input type="number" 
                   class="form-control"
                   formControlName="totalAccountIdByCustomer"
                   (keyup.enter)="getTotalAndDetailAccount(accountTreeSvc.detailAccountForm.get('totalAccountIdByCustomer').value);"
                   [readOnly]="accountTreeSvc.selectedDetailAccount !== null">
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary"
            [disabled]="accountTreeSvc.selectedDetailAccount !== null">...</button>
        </div>
        <div class="col-md-4">
            <input type="text" 
                   class="form-control"
                   formControlName="totalAccountNameAr"                                    
                   [readOnly]="true">
        </div>
    </div>

    <div class="form-group">
        <label for="">ID</label>
        <input type="number" 
               class="form-control"
               style="width: 25%;"
               formControlName="detailAccountIdByCustomer"
               [readOnly]="true">
    </div>

    <div class="form-group">
        <label for="">Detail Account Name (Ar)</label>
        <input type="text" 
               class="form-control"
               #mainAccountNameAr
               formControlName="detailAccountNameAr"
               style="text-align: right;" >
    </div>

    <div class="form-group">
        <label for="">Detail Account Name (En)</label>
        <input type="text" 
               class="form-control"
               formControlName="detailAccountNameEn">
    </div>
   
    <!-- <div class="form-group">
        <label for="">Year</label>
        <input type="number" 
               class="form-control"
               formControlName="year"
               [ngClass]="{'is-invalid': accountTreeSvc.glForm.get('year').errors && 
                                        (accountTreeSvc.glForm.get('year').touched || 
                                         accountTreeSvc.glForm.get('year').dirty)  }" />

                    <span class="invalid-feedback"> 
                        <span *ngIf="accountTreeSvc.glForm.get('year').errors?.required">
                            This Field is mandatory, Please enter finance year
                        </span>                   
                        <span *ngIf="accountTreeSvc.glForm.get('year').errors?.maxlength">
                            Finance year can not exceed 9999
                        </span>
                        <span *ngIf="accountTreeSvc.glForm.get('year').errors?.minlength">
                            Finance year can not exceed 9999
                        </span>
                    </span>
                    <span class="text-danger" *ngIf="errorMessages.Year">
                        {{errorMessages.Year}}
                    </span>
    </div> -->
    <div class="modal-footer">
        <div class="clearfix">
            <div class="float-right">
                <button class="btn btn-default mr-1" (click)="onClose(); $event.preventDefault()">Cancel</button>
                <button class="btn btn-primary" 
                        [disabled]="!accountTreeSvc.detailAccountForm.valid"
                        (click)="onSubmit()">
                    {{accountTreeSvc.selectedDetailAccount === null?"Create": "Update"}}
                </button>
            </div>
        </div>
    </div>
</form>