<div class="card mat-elevation-z8 p-2">
    <div class="card-header">
        <h1>{{pageTitle}}</h1>
    </div>
    <div class="card-bdoy">
        <fieldset class="p-3" style="border: 1px red solid;">
            <legend style="width: auto;">
                Search By
            </legend>
            <div class="row mt-2">
                <div class="col-md-2">
                    Bond SNo.
                </div>
                <div class="col-md-1">
                    <input type="number"
                           class="form-control text-center">
                </div>
                <div class="col-md-2">
                    Date
                </div>
                <div class="col-md-5 row m-0 p-0">
                    <input class="form-control  col-md-4" 
                           matInput [matDatepicker]="searchPicker"
                           placeholder="Choose a date"
                           >
                    <mat-datepicker-toggle matSuffix [for]="searchPicker"></mat-datepicker-toggle>
                    <mat-datepicker #searchPicker></mat-datepicker>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary"
                            (click)="getDailyTransactionBySno()">Search</button>
                </div>
            </div>
            <div class="row">
                <div class="mr-1">
                    <button class="btn btn-light" (click)="onGetFirstRecord()">
                        <fa-icon [icon]="firstRecord"></fa-icon>
                    </button>
                </div>
                <div class="mr-1">
                    <button class="btn btn-light">
                        <fa-icon [icon]="privousRecord"></fa-icon>
                    </button>
                </div>
                <div class="mr-1">
                    <button class="btn btn-light">
                        <fa-icon [icon]="nextRecord"></fa-icon>
                    </button>
                </div>
                <div class="mr-1">
                    <button class="btn btn-light"
                            title="Last Record"
                            (click)="onGetLastRecord()">
                        <fa-icon [icon]="lastRecord"></fa-icon>
                    </button>
                </div>

                <div class="mr-1">
                    <button class="btn btn-light"
                            title="New Record"
                            (click)="onNewRecord()">
                        <fa-icon [icon]="newRecord"></fa-icon>
                    </button>
                </div>
                
            </div>
        </fieldset>
        <form [formGroup]="dailyTransactionSvc.dailyTransactionForm" 
              autocomplete="off"
              (submit)="onSubmit()"
              (keydown.enter)="$event.preventDefault()">
            <fieldset class="p-3" style="border: 1px red solid;">
                <legend style="width: auto;">Bond Data</legend>
                <div class="row mt-2">
                    <div class="col-md-1">
                        <label for="">
                            Bond Type
                        </label>
                    </div>
                    <div class="col-md-5 d-flex justify-content-between p-0">
                        <input type="number"
                               class="form-control col-md-4"
                               formControlName="bondUserId"
                               #bondUserId
                               (keyup.enter)="getBondInfo(dailyTransactionSvc.dailyTransactionForm.get('bondUserId').value)"
                               tabindex="1"
                               [ngClass]="{'is-invalid':  dailyTransactionSvc.dailyTransactionForm.get('bondUserId').errors && 
                                                         (dailyTransactionSvc.dailyTransactionForm.get('bondUserId').touched || 
                                                          dailyTransactionSvc.dailyTransactionForm.get('bondUserId').dirty)  }">
                        <span class="invalid-feedback">
                                <span *ngIf="dailyTransactionSvc.dailyTransactionForm.get('bondUserId').errors?.required">
                                    This Field is mandatory, Please enter Bond type
                                </span>
                         </span>
                         <span *ngIf="errorMessages.BondId">
                            {{errorMessages.BondId}}
                        </span>
                        <button class="btn btn-primary col-md-1" 
                                tabindex="-1">
                            ...
                        </button>
                        <input type="text" class="form-control col-md-6" 
                               formControlName="bondName" 
                               tabindex="-1"
                               readonly>
                        
                    </div>

                    <div class="col-md-1 ml-5">
                        <label for="">
                            Bond SNo
                        </label>
                    </div>
                    <div class="col-md-1">
                        <input type="number"
                               class="form-control text-center" 
                               formControlName="dailyTransactionBondSNo">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-1">
                        <label for="">
                            Bond Date
                        </label>
                    </div>
                    <div class="col-md-5 row m-0 p-0">
                        <input class="form-control  col-md-4" 
                               matInput [matDatepicker]="picker"
                               placeholder="Choose a date"
                               #bondDate
                               formControlName="dailyTransactionDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                    <div class="col-md-1 ml-5">
                        <label>
                            Month
                        </label>
                    </div>
                    <div class="col-md-1">
                        <input type="text" 
                               class="form-control text-center" 
                               formControlName="dailyTransactionMonth"
                               readonly>
                    </div>
                </div>
            </fieldset>


            <fieldset class="p-3" style="border: 1px red solid;">
                <legend style="width: auto;">Bond Details</legend>
                <div class="row mb-1 text-center" >
                    <div class="col-md-2">Account No.</div>
                    <div class="col-md-1" style=" padding: 0; display: flex;
                    margin: 0;
                    justify-content: center;
                    max-width: 1%;"></div>
                    <div class="col-md-2">Account Name</div>
                    <div class="col-md-2">Debit</div>
                    <div class="col-md-2">Credit</div>
                    <div class="col-md-2">Description</div>
                    <div class="col-md-1">
                        <button class="btn btn-success" (click)="dailyTransactionSvc.addDailyTransactionDetails(); $event.preventDefault()">+</button>
                    </div>
                </div>
                <div formArrayName="dailyTransactionDetailsList"
                    *ngFor="let item of dailyTransactionSvc.dailyTransactionDetailsList.controls; let i=index; let first=first; let last=last;">
                    <div [formGroupName]="i">
                        <div>
                            <div class="row mb-2">
                                <div class="col-md-2 d-flex align-items-center">
                                    <input type="text" 
                                           class="form-control"
                                           formControlName="detailAccountIdByCustomer"
                                           (keyup.enter)="getDetailAccountInfo(item.get('detailAccountIdByCustomer').value, i)" >
                                           <!-- (keydown)="onKeyDown($event, i)" -->
                                </div>
                                <div class="col-md-1 d-flex align-items-center p-0 m-0 " style=" justify-content: center; 
                                max-width: 1%;">
                                    <button class="btn btn-primary">
                                        ...
                                    </button>
                                </div>
                                <div class="col-md-2 d-flex align-items-center">
                                    <input type="text" class="form-control" formControlName="detailAccountNameAr"
                                        readonly>
                                </div>
                                <div class="col-md-2 d-flex align-items-center">
                                    <input type="number" 
                                           class="form-control text-center" 
                                           formControlName="dailyTransactionDebitAmount"
                                           #dailyTransactionDebitAmount>
                                </div>
                                <div class="col-md-2 d-flex align-items-center">
                                    <input type="number" 
                                           class="form-control text-center"
                                           formControlName="dailyTransactionCreditAmount">
                                </div>
                                <div class="col-md-2 d-flex align-items-center">
                                    <textarea class="form-control" 
                                              formControlName="dailyTransactionDescription"
                                              (keyup.enter)="dailyTransactionSvc.addDailyTransactionDetails()">
                                        </textarea>
                                </div>
                                <div class="col-md-1 d-flex align-items-center">
                                    <button class="btn btn-danger"
                                        (click)="dailyTransactionSvc.removeDailyTransactionDetails(i); $event.preventDefault()">-</button>
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="row mb-1 text-center" >
                    <div class="col-md-2"> </div>
                    <div class="col-md-1" style=" padding: 0; display: flex;
                    margin: 0;
                    justify-content: center;
                    max-width: 1%;"></div>
                    <div class="col-md-2"> </div>
                    <div class="col-md-2">
                        <input type="number" 
                               class="form-control text-center"
                               [value]="dailyTransactionSvc.dailyTransactionForm.get('sumDebit').value | number:'1.3-3'"
                               formControlName="sumDebit"
                               [readOnly]="true">
                    </div>
                    <div class="col-md-2">
                        <input type="number" 
                               class="form-control text-center"
                               [value]="dailyTransactionSvc.dailyTransactionForm.get('sumCredit').value | number:'1.3-3'"
                               formControlName="sumCredit"
                               [readOnly]="true">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-1">
                      
                    </div>
                </div>
                <div class="row mb-1 text-center" >
                    <div class="col-md-2"> </div>
                    <div class="col-md-1" style=" padding: 0; display: flex;
                    margin: 0;
                    justify-content: center;
                    max-width: 1%;"></div>
                    <div class="col-md-2"> </div>                                
                    <div class="col-md-4">
                        <input type="number" 
                               class="form-control text-center"
                               [value]="dailyTransactionSvc.dailyTransactionForm.get('difference').value | number:'1.3-3'"
                               formControlName="difference"
                               [readOnly]="true" >
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-1">
                      
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="clearfix">
                        <div class="float-right">
                            <button class="btn btn-default mr-1" (click)="onClose(); $event.preventDefault()">Cancel</button>
                            <button class="btn btn-primary" type="submit" [disabled]="!dailyTransactionSvc.dailyTransactionForm.valid">
                                    Create
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>