
  <ul class="left-container flex-grow" style="padding-left: 0; padding-right: 0; text-align: center;">
    <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link nav-link-edit text-dark" [routerLink]="['./bond-list']">Bonds</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link nav-link-edit text-dark" [routerLink]="['./account-tree']">Accounts Tree</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link nav-link-edit text-dark" [routerLink]="['./daily-transaction']">Daily Transaction</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link nav-link-edit text-dark" [routerLink]="['./accounts-list']">Queries</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link nav-link-edit text-dark" [routerLink]="['./entry-list']">Reports</a>
    </li>
  </ul>
